* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(./img/background.png);
}
header {
  padding-bottom: 1rem;
}
.container {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0.5rem;
  position: absolute;
  left: 1rem;
  top: 1rem;
  padding: 1rem;
}
.buttons {
  padding: 0.5rem 0rem;
}
button {
  width: 7rem;
  padding: 0.2rem;
}

.trafficLight {
  position: absolute;
  top: 520px;
  left: 740px;
  width: 20px;
  height: 40px;
  /* Pas de positie aan aan je eigen scherm */
}
